body {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  #game-intro {
    padding: 20px 0px;
    background-image: url(../images/Start-screen.jpg);
    background-size: cover;
  }
  
  #game-container {
    display: none;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
    background-image: url(../images/Argentina-flag.png);
    background-size: cover;
    background-position: center center;

  }
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 35px;
    overflow: hidden;
    position: relative;
    background-image: url(../images/Field.jpg);
    background-size: cover;
  }
  
   
  #game-end {
    display: none;
  }
  
  #game-intro p {
    font-size: 20px;
    font-family: "Verdana";
    color: white;
  }

  .instructions {
    border: 3px dotted white;
    border-radius: 10px;
    margin: 0px 400px;    
  }
  
  .logo-img {
    width: 300px;
    margin: 50px;
  }
  
  .arrows-img {
    width: 200px;
    margin: 20px;
  }
  
  body button {
    font-size: 30px;
    background-color: #12318c;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }